/* Variables */

$font-text: font-family: 'Kodchasan', sans-serif;
$font-header: font-family: 'Lobster', cursive;

/* Global */

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    background: $text-color-one;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Lyrics */

.col {
    float: left;
    width: 30%;
    padding: 20px;
}

.container {
  position: relative;
}

.col {
  position: absolute;
  left: 400px;
}

.col h1 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #3B3B98
}

.col h3 {
  font-family: 'Lobster', cursive;
}

.col p {
  font-family: 'Kodchasan', sans-serif;
  font-size: 22px;
}
